body {
  max-width: 940px;
  margin: 0 auto;
  font-family: sans-serif;
  color: #333;
  background-color: #eee;
}

div {
  padding: 1rem;
  background-color: #fff;
}

a{
  color: #2c56cc;
  text-decoration: none;
}

img {
  max-width: 200px;
  float: left;
  margin-right: 1.5rem;
 }
 .contain{
   width:200px;
   height:75px;
   object-fit:cover;
 }
input,
textarea {
  font-size: 1rem;
  display: block;
  margin: 1rem;
  width: 90%;
  padding: 0.5rem;
  
}

textarea{
  height: 80px;
  /*color: rgb(232, 238, 236); */
}

button {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 1rem;
  background: #007eb6;
}

.del {
  width: 90%;
  display: inline-block;
  text-align: right;
 }
